body
{
background-image:url('g.png');
background-repeat:repeat;
background-position:center:
}

.a
{
color:red;
text-decoration:underline;
font-style:normal;
width:60%;
margin-left:auto;
margin-right:auto;
font-size:20px;
}
.b
{
color:green;
font-style:oblique;
font-size:19px;
width:60%;
margin-left:auto;
margin-right:auto;
}
.c
{
color:black;
font-family:"times new roman",time;
font-style:italic;
font-size:15px;
text-align:right;
text-decoration:none;
}
